$border-gray: #228f8c;

.header {
  height: 50px;
  padding: 10px;
  border-bottom: 1px solid $border-gray;

  @media (min-width: 768px) {
    height: 100px;
    padding: 20px;
  }

  &__logo {
    float: left;
    max-height: 100%;
  }

  &__summary {
    float: right;
    font-size: 10px;
    text-align: right;

    @media (min-width: 768px) {
      margin-top: 13px;
      font-size: 18px;
    }
  }

  &__summary-text {
    text-align: right;
  }
}
