$static-gray: rgba(210, 220, 240, .7);
$typical-gray: #808080;
$pathetic-gray: #228f8c;
$pure-beige: #f5f5dc;
$stale-white: rgba(250, 220, 210, .7);

.side-panel {
  position: relative;
  width: auto;
  height: 100%;

  &__button {
    position: absolute;
    top: 10px;
    left: -50px;
    z-index: 1;
    display: block;
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 40px;
    border: 1px solid $pathetic-gray;
    background-color: $pure-beige;
    cursor: pointer;

    @media (min-width: 768px) {
      display: none;
    }

    &,
    &:focus,
    &:hover {
      outline: none;
    }
  }

  &__name {
    margin-bottom: 10px;
    font-family: 'PT Sans Bold';
    font-size: 18px;
    cursor: default;

    @media (min-width: 768px) {
      margin: 0 5px;
    }
  }

  &__stats {
    min-height: 47px;
    cursor: default;

    @media (min-width: 768px) {
      margin: 0 5px;
    }
  }

  &__stat-item {
    margin-bottom: 5px;
  }

  &__wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    width: 300px;
    height: 100%;
    padding: 20px;
    list-style: none;

    @media (min-width: 768px) {
      width: 400px;
    }

    &--hidden {
      display: none;


      @media (min-width: 768px) {
        display: block;
      }
    }
  }

  &__item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid $typical-gray;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: $static-gray;

    &--finished {
      background-color: $stale-white;
    }
  }

  &__action-button {
    display: block;
    width: 100%;
    margin-bottom: 10px;

    @media (min-width: 768px) {
      float: left;
      width: calc(50% - 10px);
      margin: 0 5px;
    }

    &--reset {
      width: 100%;
      margin: 15px 0 0;

      @media (min-width: 768px) {
        margin: 15px 5px 0;
      }
    }
  }
}
