<div class="event-box">
  <app-gmaps
    class="event-box__item"
    [eventTracks]="eventTracks"
    [dbUser]="dbUser"
    [dbEvent]="dbEvent"
    [eventAuthorId]="(dbEvent | async)?.created_by"
    [userId]="userId"
    (updateTargetPosition)="updateTargetPosition($event)"
    >
  </app-gmaps>
  <app-side-panel
    class="event-box__item event-box__item--panel"
    [eventId]="eventId"
    [eventUsers]="eventUsers"
    [eventAuthorId]="(dbEvent | async)?.created_by"
    [userId]="userId"
    (startTracking)="startTracking()"
    (stopTracking)="stopTracking()"
    (resetEvent)="resetEvent()"
  >
  </app-side-panel>
</div>
